* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
  color: white;
  background: url(../image/main-bg.png);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-content__logo {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.5019607843));
}

.main {
  display: flex;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 48.56%, rgba(0, 0, 0, 0) 100%);
  background-size: 1282px;
  background-repeat: no-repeat;
}
.main-content {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
@media screen and (max-width: 992px) {
  .main-content {
    gap: 24px;
  }
}
@media screen and (max-width: 540px) {
  .main-content {
    gap: 32px;
  }
}
.main-content__logo {
  margin-top: 114px;
  margin-left: 142px;
  width: 1090px;
  height: 121px;
}
@media screen and (max-width: 992px) {
  .main-content__logo {
    width: 540px;
    height: 60px;
    margin-top: 48px;
    margin-left: 32px;
  }
}
@media screen and (max-width: 540px) {
  .main-content__logo {
    width: 476px;
    height: 53px;
    margin: 48px 32px 32px 32px;
  }
}
.main-content__about {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
@media screen and (max-width: 992px) {
  .main-content__about {
    gap: 12px;
  }
}
@media screen and (max-width: 540px) {
  .main-content__about {
    align-items: center;
  }
}
.main-content__about-title {
  font-size: 32px;
  margin-left: 142px;
  line-height: 37px;
  letter-spacing: 0.01em;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5019607843);
}
@media screen and (max-width: 992px) {
  .main-content__about-title {
    font-size: 24px;
    margin-left: 32px;
    line-height: 28px;
  }
}
.main-content__about-description {
  font-size: 20px;
  text-indent: 20px;
  font-weight: 400;
  line-height: 23px;
  margin-left: 142px;
  letter-spacing: 0.01em;
  width: 1090px;
  height: 161px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5019607843);
}
@media screen and (max-width: 992px) {
  .main-content__about-description {
    font-size: 14px;
    margin-left: 32px;
    max-width: 564px;
    max-height: 176px;
    line-height: 16px;
  }
}
@media screen and (max-width: 540px) {
  .main-content__about-description {
    width: 476px;
    height: 192px;
  }
}
.main-content__products {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
@media screen and (max-width: 992px) {
  .main-content__products {
    gap: 12px;
  }
}
@media screen and (max-width: 540px) {
  .main-content__products {
    align-items: center;
  }
}
.main-content__products-title {
  font-size: 32px;
  margin-left: 142px;
  line-height: 37px;
  letter-spacing: 0.01em;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5019607843);
}
@media screen and (max-width: 992px) {
  .main-content__products-title {
    font-size: 24px;
    margin-left: 32px;
    line-height: 28px;
  }
}
.main-content__products-list {
  margin-left: 142px;
  display: flex;
  gap: 12px;
}
.main-content__products-list__item {
  font-size: 18px;
  font-weight: 400;
  padding: 13px 24px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
}
.main-content__products-list__item:hover {
  color: black;
  background: #4FB5C0;
  padding: 11px 22px;
  border: 4px solid #6AECF8;
}
@media screen and (max-width: 992px) {
  .main-content__products-list {
    margin-left: 32px;
    max-width: 520px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 540px) {
  .main-content__products-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.main-content__contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 540px) {
  .main-content__contacts {
    align-items: center;
  }
}
.main-content__contacts-title {
  font-size: 32px;
  margin-left: 142px;
  line-height: 37px;
  letter-spacing: 0.01em;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}
@media screen and (max-width: 992px) {
  .main-content__contacts-title {
    font-size: 24px;
    margin-left: 32px;
    line-height: 28px;
  }
}
.main-content__contacts-form {
  max-width: 596px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px 0;
  margin-left: 142px;
}
@media screen and (max-width: 992px) {
  .main-content__contacts-form {
    margin-left: 32px;
  }
}
.main-content__contacts-form-input {
  padding: 12px 14px;
  font-size: 18px;
  width: 49%;
}
.main-content__contacts-form-input:last-child {
  font-size: 20px;
}
@media screen and (max-width: 992px) {
  .main-content__contacts-form-input {
    width: 276px;
    padding: 12px 12px;
  }
}
@media screen and (max-width: 540px) {
  .main-content__contacts-form-input {
    width: 479px;
  }
}
.main-content__contacts-form-textarea {
  width: 100%;
  height: 108px;
  font-size: clamp(14px, 4vw, 20px);
  padding: 29px 13px;
  display: flex;
  resize: none;
}
@media screen and (max-width: 992px) {
  .main-content__contacts-form-textarea {
    width: 442px;
    font-size: 14px;
    height: 68px;
    padding: 13px;
  }
}
@media screen and (max-width: 540px) {
  .main-content__contacts-form-textarea {
    width: 476px;
  }
}
.main-content__contacts-form input::-moz-placeholder, .main-content__contacts-form textarea::-moz-placeholder {
  color: black;
}
.main-content__contacts-form input::placeholder, .main-content__contacts-form textarea::placeholder {
  color: black;
}
.main-content__contacts-form-button {
  padding: 13px 24px;
  background: none;
  border: 2px solid white;
  color: white;
  font-size: clamp(14px, 4vw, 18px);
  letter-spacing: 0.1em;
  margin-bottom: 26px;
}
.main-content__contacts-form-button:hover {
  color: black;
  background: #4FB5C0;
  padding: 11px 22px;
  border: 4px solid #6AECF8;
}
@media screen and (max-width: 1200px) {
  .main-content__contacts-form-button {
    width: 110px;
    font-size: 16px;
    padding: 15px 10px;
  }
}
@media screen and (max-width: 540px) {
  .main-content__contacts-form-button {
    width: 184px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 992px) {
  .main-content__contacts {
    gap: 12px;
  }
}
.main-photo__img {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 992px) {
  .main-photo__img {
    width: 356px;
    height: 606px;
  }
}
@media screen and (max-width: 540px) {
  .main-photo__img {
    width: 390px;
    height: 663px;
    position: relative;
    bottom: 0;
    margin: 32px 75px 0 75px;
    z-index: 2;
  }
}/*# sourceMappingURL=style.css.map */