@use 'reset';
@use 'normalize';
@use 'fonts';

body {
  font-family: "Roboto", sans-serif;
  color:white;
  background: url(../image/main-bg.png);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-content__logo {
  filter: drop-shadow(0 4px 4px #00000080);
}

.main {
  display: flex;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 48.56%, rgba(0, 0, 0, 0) 100%);
  background-size: 1282px;
  background-repeat: no-repeat;

 

  &-content {
    display: flex;
    flex-direction: column;
    gap: 64px;

    @media screen and (max-width: 992px) {
      gap: 24px;
    }

    @media screen and (max-width: 540px) {
      gap: 32px;
    }



    &__logo {
      margin-top: 114px;
      margin-left: 142px;
      width: 1090px;
      height: 121px;

      @media screen and (max-width: 992px) {
        width: 540px;
        height: 60px;
        margin-top: 48px;
        margin-left: 32px;
      }

      @media screen and (max-width: 540px) {
        width: 476px;
        height: 53px;
        margin: 48px 32px 32px 32px;
      }

      
    }
    &__about {
      display: flex;
      flex-direction: column;
      gap: 26px;

      @media screen and (max-width: 992px) {
        gap: 12px;
      }

      @media screen and (max-width: 540px) {
        align-items: center;
      }

      &-title{
        font-size: 32px;
        margin-left: 142px;
        line-height: 37px;
        letter-spacing: 0.01em;
        font-weight: 500;
        text-shadow: 0px 4px 4px #00000080;



        @media screen and (max-width: 992px) {
          font-size: 24px;
          margin-left: 32px;
          line-height: 28px;
        }
      }

      &-description {
        font-size: 20px;
        text-indent:20px;
        font-weight: 400;
        line-height: 23px;
        margin-left: 142px;
        letter-spacing: 0.01em;
        width: 1090px;
        height: 161px;
        text-shadow: 0px 4px 4px #00000080;
        ;

        @media screen and (max-width: 992px) {
          font-size: 14px;
          margin-left: 32px;
          max-width: 564px;
          max-height: 176px;
          line-height: 16px;
        }

        @media screen and (max-width: 540px) {
          width: 476px;
          height: 192px;
        }
      }
    }

    &__products {
      display: flex;
      flex-direction: column;
      gap: 26px;

      @media screen and (max-width: 992px) {
        gap: 12px;
      }

      @media screen and (max-width: 540px) {
        align-items: center;
      }

      &-title {
        font-size: 32px;
        margin-left: 142px;
        line-height: 37px;
        letter-spacing: 0.01em;
        font-weight: 500;
        text-shadow: 0px 4px 4px #00000080;


        @media screen and (max-width: 992px) {
          font-size: 24px;
          margin-left: 32px;
          line-height: 28px;
        }
      }

      &-list {
        margin-left: 142px;
        
        display: flex;
        gap: 12px;

        &__item {
          font-size: 18px;
          font-weight: 400;
          padding: 13px 24px;
          border: 2px solid white;
          color: white;
          text-decoration: none;

          &:hover{
            color: black;
            background: #4FB5C0;
            padding: 11px 22px ;
            border: 4px solid #6AECF8;
          }

          
  
        } 

        @media screen and (max-width: 992px) {
          margin-left: 32px;
          max-width: 520px;
          flex-wrap: wrap;
        }

        @media screen and (max-width: 540px) {
          flex-wrap: wrap;
          justify-content: center;
        }

      }
   
    }

    &__contacts {
      display: flex;
      flex-direction: column;
      gap: 24px;

      @media screen and (max-width: 540px) {
        align-items: center;
      }

      &-title {
        font-size: 32px;
        margin-left: 142px;
        line-height: 37px;
        letter-spacing: 0.01em;
        font-weight: 500;
        text-shadow: 0px 4px 4px #00000040;

        @media screen and (max-width: 992px) {
          font-size: 24px;
          margin-left: 32px;
          line-height: 28px;
        }
      }
      &-form {
        max-width: 596px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 12px 0;
        margin-left: 142px;

        @media  screen and (max-width:992px) {
          margin-left: 32px;
        }

        &-input{
          padding: 12px 14px;
          font-size: 18px;
          width: 49%;
          &:last-child{
            font-size: 20px;
          }

          @media  screen and (max-width:992px) {
            width: 276px;
            padding: 12px 12px; 
          }

          @media screen and (max-width: 540px) {
            width: 479px;
          }
        }

        &-textarea{
          width: 100%;
          height: 108px;
          font-size: clamp(14px,4vw ,20px);
          padding: 29px 13px;
          display: flex;
          resize: none;

          @media  screen and (max-width:992px) {
            width: 442px;  
            font-size: 14px;
            height: 68px;
            padding: 13px;
          }

          @media screen and (max-width: 540px) {
            width: 476px;
          }
          
        }

        input::placeholder, textarea::placeholder{
          color: black;
        }

        &-button{
          padding: 13px 24px;
          background: none;
          border: 2px solid white;
          color: white;
          font-size: clamp(14px,4vw ,18px);
          letter-spacing: 0.1em;
          margin-bottom: 26px;
          &:hover{
            color: black;
            background: #4FB5C0;
            padding: 11px 22px ;
            border: 4px solid #6AECF8;
          }
          @media  screen and (max-width:1200px) {
            width: 110px;  
            font-size: 16px;
            padding: 15px 10px;
          }
          
          @media screen and (max-width: 540px) {
            width: 184px;
            font-size: 16px;
            text-align: center;
            margin: 0 auto;
            

            
          }
      }

        
      }

      @media screen and (max-width: 992px) {
        gap: 12px;
      }
    }
  }

  &-photo__img {
    position: absolute; 
    right: 0;
    bottom: 0;

    @media screen and (max-width: 992px) {
      width: 356px;
      height: 606px;
    }

    @media screen and (max-width: 540px) {
      width: 390px;
      height: 663px;
      position: relative;
      bottom: 0;
      margin:32px 75px 0 75px;
      z-index: 2;
    }
  }
}